{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Type</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"]|upper }}</td>
                    <td>{{ transaction["name"] }}</td>
                    <td>{{ transaction["type"]|upper }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ "${:,.2f}".format(transaction["price"]) }}</td>
                    <td>{{ transaction["purchased_at"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
